
{%  extends 'base.html' %}
{% load register_extras %}

{%  load staticfiles %}

{%  block body %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary" >

        <div class="panel-heading">
            <h3 style="text-align: center"><i class="fa fa-paw fa-2x" aria-hidden="true"></i> {{ object.name }}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-responsive table-bordered">
                <tbody>

                <tr>
                    <td>
                        <b>Description</b>
                    </td>
                    <td>
                        {{ object.description }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Price</b>
                    </td>
                    <td>
                        Rs: {{ object.price }}/-
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
        <div class="panel-footer" style="text-align: center">
            <p>You cannot buy this chocolate from : Amrita Chocolates</p>
        </div>
    </div>

</div>

{%  endblock body %}