
{%  extends 'base.html' %}

{%  block body %}
<div class="col-md-8 col-md-offset-2 well">
<table class="table table-hover table-bordered table-responsive">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Manufacturer
        </th>
        <th>
            Price
        </th>
           <th>
            More
        </th>
    </tr>
    </thead>
    <tbody>
    {% for item in object_list %}
        <tr>
            <td> {{ item.name }} </td>
            <td> {{ item.description }}</td>
            <td> {{ item.manufacturer }}</td>
            <td> {{ item.price }}</td>
            <td> <a href="{% url 'chocolate_info' item.id %}">Info</a> </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>




{%  if request.user.is_anonymous %}
    Nothing here :(
{%  else %}
    <div class="col-md-6 col-md-offset-5" style="padding-top: 10%;">
        <a href="{% url 'add_chocolate' %}">
            <button class="btn btn-primary"> Add a Chocolate </button>
        </a>
    </div>
{% endif %}


{%  endblock body %}